:root {
  --bs-primary: #6C63FF;
  --bs-secondary: #FF6584;
  --bs-primary-rgb: 108, 99, 255;
  --bs-secondary-rgb: 255, 101, 132;
}

body {
  margin: 0;
  font-family: 'Inter', 'Roboto', 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


a, .nav-link, .dropdown-item {
  text-decoration: none !important;
}
